ion-header {
  ion-toolbar {

    --background: #e91e63;
    color: #ffffff;

  }
}


.custom-badge {
  position: absolute;
  top: 9px;
  right: 7px;
  background: #ff5722;
  color: #fff;
  width: 19px;
  height: 19px;
  border-radius: 13px;
  font-size: 13px;
  text-align: center;
  padding-top: 3px;
}

.label-title {
  white-space: break-spaces !important;
}

ion-footer {
  ion-toolbar {
    --background: #2f9495 !important;
    min-height: 70px;
  }
}
